---
layout: curriculum
---

<section class="container">
  <!-- Header -->
  <header class="row-fluid">
    <div class="title span7">
      <h1>Yuri Freire Lima</h1>
      <h2>Desenvolvedor Web</h2>
    </div>
    <address>
      <div class="social offset1 span4">
        <ul>
          <li>{{site.data.my.age}} Anos</li>
          <li>Mogi das cruzes, São Paulo, Brazil (disponivel para realocação ou trabalho remoto)</li>
          <li><a href="mailto:{{ site.data.my.email }}" target="_blank">{{ site.data.my.email }}</a></li>
          <li>&nbsp;</li>
          <li>
            <a href="{{ site.data.my.github }}" target="_blank"><i class="icon-github-sign" ></i></a>
            <a href="{{ site.data.my.linkedin }}" target="_blank"><i class="icon-linkedin-sign" ></i></a>
            <a href="{{ site.data.my.blog.link }}" target="">{{ site.data.my.blog.name }}<i class="icon-" ></i></a>
          </li>
        </ul>
      </div>
    </address>
  </header>

  <!-- Welcome Text -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Objetivo Profissional</h3>
    </header>
    <div class="span9">
      <ul>
        <li><strong>Desenvolvedor {{ site.data.my.professional_goal }}</strong></li>
      </ul>
    </div>
  </article>

  <!-- Skills -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Sintaxe das Qualifica&ccedil;oes</h3>
    </header>
    <div class="span9">
      <ul class="span6">
        {% for item in site.data.my.qualifications_left %}
          <li><strong>{{ item }}</strong></li>
        {% endfor %}
      </ul>
      <ul class="span6">
        {% for item in site.data.my.qualifications_rigth %}
          <li><strong>{{ item }}</strong></li>
        {% endfor %}
      </ul>
    </div>
  </article>

  <!-- Education -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Experiencia Professional</h3>
    </header>
    <div class="span9">
      <ul>
        <li><strong><a href="http://yebo.com.br/" target="_blank">Desenvolvedor em tempo integral em Yebo, api de  E-Commerce - em desenvolvimento 2014 - Now</a></strong></li>
      </ul>
    </div>
  </article>

  <!-- Education -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Formação Acadêmica</h3>
    </header>
    <div class="span9">
      <ul>
        <li>
          <h4>Faculdade de Tecnologia de Mogi das Cruzes <a href="http://www.fatecmogidascruzes.com.br/" target="_blank">FATEC</a></h4></li>
        <li>
          <h5><time>2015</time></h5></li>
      </ul>
    </div>
  </article>

  <!-- Education -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Projetos</h3>
    </header>
    <div class="span9">
      <ul>
        <li><strong><a href="http://yebo.com.br/" target="_blank">2014, Yebo, Plataforma de E Commerce - em desenvolvimento</a></strong></li>
      </ul>
    </div>
  </article>

  <!-- Work -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Atividades Extracurriculares e Cursos</h3>
    </header>
    <div class="span9">
      <ul>
        <li>
          <strong>Inglês em <a href="http://www.yazigi.com.br/A/mogivilaoliveira/" target="_blank">Yazigi escola de Idiomas</a> <time>2009</time> - <time>2015</time></strong>
        </li>
      </ul>
    </div>
  </article>

  <!-- Footer -->
  <footer>
    &copy; <span id="currentDate">2017</span> Yuri Freire Lima |
    <a href="/yuri_freire_lima_curriculum_pt-br.pdf"><strong>PDF</strong></a> |
    <a href="/curriculum"><span class="label label-default">English</span></a>
  </footer>
</section>
