---
---

@import "reset";
@import "config";

body {
  color: $color-black;
  background: $color-white;
  font-family: 'Inconsolata', ;
  font-size: 100%;
  font-weight: 400;
}
h1 {
  margin-bottom: 5px;
}
p {
  font-size: 1em;
  line-height: 150%;
}
a, button {
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link;
    text-decoration: none;
  }
  &:hover {
    color: $color-link;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid $color-link;
  }
  &:active {
    color: $color-link;
    text-decoration: none;
  }
}

ul {
  list-style: none;
  li {
    padding: 5px;
    padding-left: 10px;
    @media screen and (max-width: $br) {
      padding: 10px 0 10px 0;
    }
  }
}


.wrapper {
  // Page size
  max-width: 950px;
  margin: auto;
  padding: 60px 30px 60px 30px;
  @media screen and (max-width: $br) {
    padding: 20px;
  }
  @media print {
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 50px;
  @media screen and (max-width: $br) {
    display: block;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  ul {
    margin-top: 10px;
    li {
      display: inline;
      padding: 0;
      padding-left: 5px;
    }
  }
}

.blog {
  padding-bottom: 30px;
  h1 {
    font-size: 1.4em;
    margin-bottom: 5px;
  }
}

@import "post";
@import "resume"
