---
layout: resume
---

<section class="container">
  <!-- Header -->
  <header class="row-fluid">
    <div class="title span7">
      <h1>Yuri Freire Lima</h1>
      <h2>Web Developer</h2>
    </div>
    <address>
      <div class="social offset1 span4">
        <ul>
          <li>{{site.data.my.age}} years</li>
          <li>Mogi das cruzes, São Paulo, Brazil (available to reallocation and remote work)</li>
          <li>
            <a href="mailto:{{ site.data.my.email }}" target="_blank">{{ site.data.my.email }}</a>
          </li>
          <li>&nbsp;</li>
          <li>
            <a href="{{ site.data.my.github }}" target="_blank"><i class="icon-github-sign" ></i></a>
            <a href="{{ site.data.my.linkedin }}" target="_blank"><i class="icon-linkedin-sign" ></i></a>
            <a href="{{ site.data.my.blog.link }}" target="">{{ site.data.my.blog.name }}<i class="icon-" ></i></a>
          </li>
        </ul>
      </div>
    </address>
  </header>

  <!-- Welcome Text -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Professional goal</h3>
    </header>
    <div class="span9">
      <ul>
        <li><strong>Developer {{ site.data.my.professional_goal }}</strong></li>
      </ul>
    </div>
  </article>

  <!-- Skills -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Summary of Qualifications</h3>
    </header>
    <div class="span9">
      <ul class="span6">
        {% for item in site.data.my.qualifications_left %}
          <li><strong>{{ item }}</strong></li>
        {% endfor %}
      </ul>
      <ul class="span6">
        {% for item in site.data.my.qualifications_rigth %}
          <li><strong>{{ item }}</strong></li>
        {% endfor %}
      </ul>
    </div>
  </article>

  <!-- Education -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Academic Formation</h3>
    </header>
    <div class="span9">
      <ul>
        <li>
          <h4>Technology College of Mogi das Cruzes <a href="http://www.fatecmogidascruzes.com.br/" target="_blank">FATEC</a></h4></li>
        <li>
          <h5><time>2015</time> - Dropout (can finish if needed) </h5></li>
      </ul>
    </div>
  </article>

  <!-- Education -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Projects</h3>
    </header>
    <div class="span9">
      <ul>
        <li>
          <strong>
            <a href="http://yebo.com.br/" target="_blank">
              FullStack Backend Developer at Yebo, E-Commerce api - in development 2014 - Now
            </a>
            Developing and maintaining large-scale E-Commerce platform using bleeding edge
            technologies such as: Ruby, Amazon SQS, Kubernetes, Redis, Docker, Docker Compose,
            Continuous integration, Elasticsearch, PostgreSQL and others.

            Developing E-Commerce API to follow the newest API conventions and standards,
            with Grape, Rails, AMS, and  JWT as authentication and JSON as the notation language.

            Creating an Javascript SDK for the E-Commerce API and using this SDK in EmberJS applications.

            E-Commerce platform SysAdmin, deploying containers to production, Redis for caching,
            SQS for asynchronous jobs, Nginx for Web Hosting.

            Developing E-Commerces using Restful API, javascript with EmberJS.
          </strong>
        </li>
      </ul>
    </div>
  </article>

  <!-- Work -->
  <article class="row-fluid">
    <header class="span3">
      <h3>Extracurricular Activities and Courses</h3>
    </header>
    <div class="span9">
      <ul>
        <li>
          <strong>English at <a
         href="http://www.yazigi.com.br/A/mogivilaoliveira/"
         target="_blank">Yazigi School of Languages</a>
            <time>2009</time> - 2015</strong>
        </li>
      </ul>
    </div>
  </article>

  <!-- Footer -->
  <footer>
    &copy; <span id="currentDate">2017</span> Yuri Freire Lima |
    <a href="/yuri_freire_lima_resume_eng.pdf">PDF</a> |
    <a href="/resume/pt-br"><span class="label label-default">Portugu&ecirc;s</span></a>
  </footer>
</section>
