---
layout: default
title: resume
permalink: /resume/
---
<a class="back no-print" href="/">&lt;-- back</a>

{% assign data = site.data.cv %}
<div class="resume">
  <h1 class="title">Yuri F. Lima</h1>

  <section class="contact">
    <p>{{ data.city }}</p>
    <a href="mailto:yuri.cv@proton.me?Subject=CV Contact" target="_top">yuri.cv@proton.me</a>
  </section>

  <section class="content-section">
    <h3 class="sub-title center">{{ data.title }}</h3>

    <section class="content-section-data">
      <p>{{ data.content }}</p>
    </section>

    <section class="content-section-data">
      {% for item in data.main_items %}
      <ul>
        <li><span class="highlight">- {{ item.title }}</span> {{ item.content }}</li>
      </ul>
      {% endfor %}
    </section>
  </section>

  <section class="content-section">
    <h3 class="sub-title">{{ data.proficiencies.title }}</h3>

    <section class="content-section-data">
      {% for item in data.proficiencies.items %}
      {{ item }}{% if forloop.last != true %},{% endif %}
      {% endfor %}
    </section>
  </section>


  <section class="content-section">
    <h3 class="sub-title">{{ data.previous.title }}</h3>

    {% for item in data.previous.items %}
    <section class="content-section-data">
      <h4><span class="highlight">{{ item.title}}</span> {{ item.period }}</h4>
      <ul class="item">
        {% for content in item.contents %}
        <li>- {{content}}</li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}
  </section>

  <footer>
    <a class="print-only">yurifrl.com/resume</a>
    <button class="no-print" onclick="window.print()">PDF</button>
  </footer>
</div>